# macOS
.DS_Store

# IDE
.idea/
.vscode/

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.env
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Large model files (uncomment if you prefer not to track .pkl in Git)
# *.pkl
